body {
    margin: 0;
    padding: 0;
}

.conteudo {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #c0baba;

  
}

h1 {
    text-align: center;
}

figure {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  

}

figure figcaption {
  color: #c0baba;
  text-align: center;
}

.linkgit {
  text-decoration: none;
  color: rgb(202, 13, 13);
}

.linkgit:hover {
  color: rgb(10, 83, 83);
  text-decoration: underline;
}

.lista-habilidades {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #999;

}

.lista-habilidades li {
  padding: 10px 15px;
}

.lista-habilidades li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px 5px;

}

.lista-habilidades li a:hover {
  color: white;
  background-color: rgb(10, 83, 83);
  border-radius: 10px;
  
}